.sidebar {
  background-color: #f7f7f7;
  color: #6e768e;
}

.sidebar-header {
  border: 1px solid #f7f7f7
}
.actions {
  margin-top: 20px;
}
.actions .list-group {
  background-color: #f7f7f7 !important;
  color: #6e768e;
  cursor: pointer;
}
.text {
  position: relative;
  bottom: 5px;
  left: 20px;
  font-weight: bold;
}
.bg-grey {
  background-color: #f7f7f7 !important;
}
