.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background-color:#f7f7f7;
}

#sidebar.active {
  margin-left: -250px;
}

#content {
  width: 100%;
  height: 100%;
  background-color: #FFF;
}
@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}
